.toggle {
    --s: 32px;
    width: var(--s);
    height: var(--s);
    background-size: var(--s);
}

.toggle.open {
    background-image: url(/static/graphics/hmenu-close-b.png);
}

.toggle.close {
    background-image: url(/static/graphics/hmenu-b.png);
}
