.file {
  display: grid;
  flex-direction: row;

  grid-template-columns: 100px auto 150px;
  gap: var(--size-m);

  margin-bottom: var(--size-l);
}

.image {
  box-shadow: var(--shadow);
}

.info {
  font-size: var(--font-size-second);
  text-align: right;
}

/* MOBILE */
@media (max-width: 31.25em) {
  .file {
    grid-template-columns: 75px auto;
  }

  .info {
    display: none;
  }
}
