@font-face {
	font-family: "Shadow";
	src: url("Shadow-Regular.eot");
	src: url("Shadow-Regular.woff") format("woff"),
	url("Shadow-Regular.otf") format("opentype"),
	url("Shadow-Regular.svg") format("svg");
}
