.pic {
    margin-bottom: var(--size-xl);
}

.pic.wide {
    position: relative;
    width: calc(100% + var(--picture-wide-increase));
    margin-left: calc(-0.5 * var(--picture-wide-increase));
}

.pic.vertical {
    max-width: 60%;
}

.pic.square {
    max-width: 80%;
}

.img {
    border-radius: var(--radius);

    /* override nextjs blurred placeholder filter */
    /* need for border radius */
    filter: none !important;
}

.pic figcaption {
    color: var(--color-text);
    font-size: var(--font-size-second);
    font-style: italic;
    font-weight: 100;
    padding-top: var(--size-xs);
    text-align: center;
}
