<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8"/>
        <meta lang="ru" />
        <link rel="stylesheet" href="/main-menu.css">
        <link rel="stylesheet" href="/style.css">
    </head>
    
    <body>
        <img class="main-picture" src="/team_all.jpg" />
        <div class="menu">
            <ul>
                <li><a href="/">Школа</a></li>
                <li><span>Расписание</span></li>
                <li><span>Занятия</span></li>
                <li class="selected blue"><a href="/team">Коллектив</a></li>
                <li><span>Выпускники</span></li>
                <li><span>Галерея</span></li>
                <li><a href="/docs">Документы</a></li>
                <a href="https://vk.com/club10436104" class="vk">
                    <img src="../../assets/img/icon.vk.png">
                </a>
            </ul>
        </div>
        
        <div class="main">
            
            <ul class="team-list">
                <li class="team-member">
                    <img src="teacher1.jpg" />
                    <div class="info">
                        <h3>Вера Викторовна <span>Воронова</span></h3>
                        <p>Преподаватель <a href="/">композиции</a></p>
                        <p>Вторая кваликационная категория по прикладной композиции</p>
                        <p>Российский государственный университет имени А. И. Герцена</p>
                    </div>
                </li>
                
                <li class="team-member">
                    <img src="teacher2.jpg" />
                    <div class="info">
                        <h3>Наталья Викторовна <span>Андреева</span></h3>
                        <p>Преподаватель <a href="/">композиции</a></p>
                        <p>Вторая кваликационная категория по прикладной композиции</p>
                        <p>Санкт-Петербургский государственный университет технологии и дизайна</p>
                    </div>
                </li>
                
                <li class="team-member">
                    <img src="teacher2.jpg" />
                    <div class="info">
                        <h3>Наталья Викторовна <span>Андреева</span></h3>
                        <p>Преподаватель <a href="/">композиции</a></p>
                        <p>Вторая кваликационная категория по прикладной композиции</p>
                        <p>Санкт-Петербургский государственный университет технологии и дизайна</p>
                    </div>
                </li>
            </ul>
        </div>
    </body>
</html>