{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "node": "8.5.0"
                }
            }
        ]
    ],
    "plugins": [
        "transform-react-jsx",
        "@babel/plugin-proposal-object-rest-spread",
        "transform-class-properties"
    ]
}