.DS_Store
.idea
*.sublime*
npm-debug.log

private*.json

node_modules
/bower_components
/modules/hudozka-api-v1/lib
/build
/out
dist
**/venv
**/__pycache__
**/*.pyc
/coverage
**/.vscode
*.log
.now
.vercel
.next
tsconfig.tsbuildinfo
