.document-block {
  h1{
    font-size: 14pt;
    margin-left: 15px;
  }

  .menu{
    position: fixed;
    background-color: white;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: space-between;
    align-items: center;

    &.transparent{
      opacity: 0.95;
    }
  }

  .controls {
    input {
      width: 30px;
      height: 30px;
      margin: 0 2px;
      text-align: center;
      font-size: .9em;
    }

    input:focus {
      outline: 0;
    }

    button {
      height: 30px;
      border-radius: 6px;
      border: 1px solid #666;
      background-color: white;
      font-size: 1.25em;
      line-height: 0;
      text-align: center;
      outline: none;

      &:hover {
        border-color: #4d62d9;
        color: #4d62d9;
      }

      &:active {
        border-color: #3d4fb2;
        color: #3d4fb2;
      }
    }
  }

  .controls .block {
    display: inline-block;
    margin: 0 5px;
    vertical-align: middle;
  }

  a.download {
    height:30px;
    width: 23px;
    vertical-align: middle;
    padding: 0 8px;
    display: inline-block;
    background: url(/graphics/download.png) no-repeat 50%;
    border-radius: 6px;
    border: 1px solid #666;

    &:hover{
      border-color: #4d62d9;
    }

    &:active {
      border-color: #3d4fb2;
    }
  }
}

.document {
  padding-top: 50px;

  .page {
    img {
      width: 100%;
    }
  }
}

.norm {
  font-weight: 400;
}

.bold {
  font-weight: 700;
}

#page-container {
  background-color: #c3bfa3;
  transition: left 500ms;
}

.pf {
  margin: 60px auto 20px;
  /*        box-shadow: 1px 1px 3px 1px #333;*/
  box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.9);
  border-collapse: separate;
}

iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.doclist {
  padding-top: 70px;
  img {
    max-width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 50px;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  }
}