.page-home {
  &.ng-leave {
    transform-origin: 0% 0%;
    animation: rotateFall .3s both ease-in;
  }

  &.ng-enter {
    animation: scaleUp 0.3s both ease-in;
  }
}

.page.page-home{
  width: 90%;
  margin: 0 auto;
}

.main-block {
  h1 {
    font-size: 18pt;
    text-align: center;
    font-weight: normal;
    margin: 1.2em 0 0;
    padding: 0;
  }
}
