.kazimir__image {
    /* position: relative; */
    /* width: calc(100% + var(--kazimir-image-increase)); */
    /* margin-left: calc(-0.5 * var(--kazimir-image-increase)); */
    margin-bottom: var(--size-l);
}

.kazimir__image p {
    margin-left: calc(0.5 * var(--kazimir-image-increase));
}

.kazimir__image img {
    border-radius: var(--radius);

    max-width: 100%;
    max-height: 35em;
}

.kazimir__image figcaption {
    color: var(--color-text);
    font-size: var(--font-size-second);
    font-style: italic;
    font-weight: 100;
    padding-top: var(--size-xs);
    text-align: center;
}
