.kazimir__video {
    width: 100%;
    height: 0;
    position: relative;
    padding-bottom: var(--embed-video-ratio);

    margin-bottom: var(--size-m);
}

.kazimir__video iframe {
    width: 100%;
    height: 100%;
    position: absolute;
}
