.block {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: flex-start;
}

.block.align {
    align-items: center;
}

.horizontal {
    flex-direction: row;
}

.vertical {
    flex-direction: column;
}
