.button {
    display: block;
    font-size: var(--font-size-default);

    text-align: center;

    border-radius: 100px;
    border: 1px solid var(--color-shadow);

    background-color: var(--color-back);

    transition: box-shadow 150ms;

    outline: none;
    cursor: pointer;
}

.button:hover {
    margin: 1px;
    /* margin-left: 1px;
    margin-right: 1px; */

    border: none;
    box-shadow: var(--shadow-active);
}

/* MODIFICATORS */

.button.disabled {
    pointer-events: none;
    color: var(--color-text-second);
}

/* SIZE */

.button.size_default {
    padding: var(--size-s) var(--size-m);
}

.button.size_small {
    padding: var(--size-xs) var(--size-s);
    font-size: var(--font-size-second);
}

/* THEME */

.button.theme_ghost {
    border-color: rgba(0, 0, 0, 0);
}

.button.theme_icon {
    padding: var(--size-xs) var(--size-xs);
}
