.button {
    font-size: var(--font-size-default);

    text-align: center;
    margin-top: var(--size-m);
    margin-bottom: var(--size-m);

    border-radius: 100px;
    border: 1px solid var(--color-shadow);

    background-color: var(--color-back);

    transition: box-shadow 150ms;

    outline: none;
    cursor: pointer;
}

.button:hover {
    margin-left: 1px;
    margin-right: 1px;

    border: none;
    box-shadow: var(--shadow-active);
}

/* THEME */

.button.ghost {
    border-color: rgba(0, 0, 0, 0);
}

/* SIZE */

.button.default {
    padding: var(--size-s) var(--size-m);
}

.button.small {
    padding: var(--size-xs) var(--size-s);
    font-size: var(--font-size-second);
}
