.accessibility-control {
  width: 100%;

  padding: var(--single-margin);

  span {
    margin-right: var(--single-margin);
  }

  span.active {
    font-weight: bold;
  }

  &__block {
    margin-bottom: var(--half-margin);
  }

  ul li {
    display: inline;
    margin-right: var(--single-margin);
  }

  ul {
    display: inline;
  }
}

.accessibility .accessibility-control {
  a {
    border-bottom-style: dashed;
  }
}