@import "../variables";

.album-collection{
  &__body{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    align-items:flex-start;

    margin: 0 0 $double-margin;
  }

  &__title{
    text-align: center;
    margin: $single-margin 0;
  }
}
