@import "../variables";

.ArticleCard {
  --article-card-width: 30%;
  --article-card-image-height: 15em;
  --article-card-margin: var(--single-margin) var(--half-margin);

  display: flex;
  flex-direction: column;

  margin: var(--article-card-margin);
  width: var(--article-card-width);
  min-width: 10em;
  max-width: 30em;

  border: 1px solid #ccc;
  border-radius: 3px;

  & > a {
    display: block;
    position: relative;
  //  height: 100%;
  }
}

.ArticleCard-image {
  border-radius: 2px 2px 0 0;

  width: 100%;
  height: var(--article-card-image-height);

  img {
    width: 100%;
    height: var(--article-card-image-height);

    object-fit: cover;
  }
}

.ArticleCard-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  height: 5em;

  padding: .25em .5em;
}


//Styling

.ArticleCard .date {
  color: #ccc;
  font-size: small;
}


//Animation

.ArticleCard-image {
  overflow: hidden;

  img{
    transition: transform 150ms ease-out;
  }
}

.ArticleCard {
  &:hover{
    img{
      transform: scale(1.05);
    }
  }
}


// Tablet

@media screen and (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
  .ArticleCard {
    --article-card-image-height: 12em;
  }

  @media screen and (orientation: portrait) {
  }
}


// Mobile

@media (max-width: $mobile-width) {
  .ArticleCard {
    --article-card-width: 100%;
    --article-card-margin: var(--single-margin) 0;
  }
}

