@import "../variables";

.article {
  --article-line-height: 1.75em;
  --article-quote-padding: 1em;
  --article-quote-font-size: 1.25em;

  hyphens: auto;

  margin-bottom: $post-margin;

  &__head {
    margin-bottom: 1.25em;

    h1 {
      text-align: center;
      margin-bottom: $small-margin;
    }

    h2 {
      text-align: center;
    }

    .date {
      text-align: center;
      color: #aaa;
    }
  }

  &__body{
    img {
      max-width: 100%;
      max-height: 35em;
    }

    ul, ol{
      margin-left: $half-margin;
      margin-bottom: $single-margin;
      padding-left: $single-margin;
    }

    ul{
      list-style: disc;
    }

    p {
      --margin: 20px;
      margin-left: var(--margin);
      margin-right: var(--margin);
      margin-bottom: var(--article-line-height);
      line-height: var(--article-line-height);
    }

    blockquote {
      background-color: hsl(215, 10%, 96%);
      padding: var(--article-quote-padding);
      margin: $single-margin 0;
      font-family: $title-font;
      font-style: italic;
      font-weight: normal;
      font-size: var(--article-quote-font-size);

      cite {
        margin-top: $single-margin;
        display: block;
        color: #aaa;
        font-size: initial;
        font-family: $text-font;
        text-align: right;
        margin-right: $single-margin;
      }
    }
  }
}

@media (max-width: $mobile-width) {
  .article {
    --article-line-height: 1.5em;
    --article-quote-padding: .5em;
    --article-quote-font-size: 1em;

    &__body {
      img {
        max-height: 20em;
      }

      p {
        --margin: 0;
      }
    }
  }
}
