breadcrumbs{
  --font-size: 0.75em;
  --item-active-color: var(--link-color);
  --item-inactive-color: var(--inactive-link-color);
  --separator: '⟶';
  --mobile-separator: '>';

  padding: .35em 0 0;
  color: var(--item-inactive-color);

  a {
    color: var(--item-active-color);
  }

  ul{
    list-style: none;

    li {
      display: inline-block;

      &:not(:first-child):before{
        content: var(--separator);
        margin-left: .4em;
      }
    }
  }
}

@media screen and (max-width: var(--mobile-width)) {
  breadcrumbs{
    margin: 0;
    font-size: var(--font-size);

    ul{
      li {
        &:not(:first-child):before{
          content: var(--mobile-separator);
          margin-left: .2em;
        }
      }
    }
  }
}
