@import "../variables";

.cloud-page {
  margin-bottom: $post-margin;

  &__body{
    h1{
      text-align: center;
      margin-bottom: $single-margin;

      font-size: $biggest-font-size;
    }

    h2 {
      text-align: left;
      margin-top: $double-margin;
      font-family: $text-font;
    }

    ul, ol{
      margin-left: $half-margin;
      margin-bottom: $single-margin;
      padding-left: $single-margin;
    }

    ul{
      list-style: disc;
    }

    p{
      margin-bottom: 1.25em;
    }

    img {
      width: 100%;
    }

    blockquote {
      background-color: hsl(215, 10%, 96%);
      padding: 1em 1em .5em;
      margin: $single-margin 0;
      font-family: $title-font;
      font-style: italic;
      font-weight: normal;
      font-size: 1.25em;

      cite {
        margin-top: $single-margin;
        display: block;
        color: #aaa;
        font-size: initial;
        font-family: $text-font;
        text-align: right;
        margin-right: $single-margin;
      }
    }
  }
}

@media (max-width: $mobile-width) {
  .cloud-page {
    &__body {
      img {
        max-height: 20em;
      }
    }
  }
}
