@import "../variables";

.document {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0 $single-margin $double-margin;

  p {
    text-align: center;
  }
}

.document__image{
  img {
    width: 100%;
    box-shadow: $white-shadow;
  }
}

.document__image--medium{
  max-width: 7.5em;
}

.document__image--big{
  max-width: 20em;
}

@media (max-width: $mobile-width) {
  .document {
    margin: 0 $single-margin/2 $single-margin;
  }
}
