@import "../variables";

.document {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin-bottom: $single-margin;
}

.document__image{
  min-width: 4em;
  width: 4em;
  height: 4em;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  //align-items: center;

  img {
    max-width: 100%;
    max-height: 100%;
    box-shadow: $white-shadow;
  }
}

.document__image--medium{
}

.document__image--big{
  max-width: 20em;
}

.document__file {
  margin-left: $single-margin;
  flex-grow: 10;
}

.document__file-info {
  width: 25%;
  flex-grow: 1;
  font-size: $smaller-font-size;
  text-align: right;
}

@media (max-width: $mobile-width) {
  .document {
    margin: 0 $single-margin/2 $single-margin;
  }
}
