@import "../variables";

.documents-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
}

@media (max-width: $mobile-width) {
  .documents-container {
  }
}
