@import "../variables";

.documents-container {
  margin-bottom: $post-margin;

  &__head {
    margin-bottom: $double-margin;
  }

  &__body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}

@media (max-width: $mobile-width) {
  .documents-container {
  }
}
