.gallery-item {
  box-sizing: padding-box;
  padding: 0;

  margin: 0 var(--single-margin) var(--double-margin);

  a.invisible {
    border-bottom: none;
    text-decoration: none;
  }
}

@media screen and (max-width: var(--mobile-width)) {
  .gallery-item {
    margin: 0 0 var(--double-margin);
  }
}
