@import "../variables";

$img-max-width: 500px;
$double-margin-half: $double-margin / 2;
$percentage: 25%;

.gallery-item {
  box-sizing: padding-box;
  padding: 0;

  width: 13em;
  height: 15em;
  margin: 0 $single-margin $double-margin;
  overflow: hidden;

  h3 {
    text-align: center;
  }

  a {
    color: $dark-color;
    border-bottom: none;

    &:hover {
      border-bottom: none;
      color: $blue-color;
    }
  }

  img {
    width: 100%;
  }
}

@media screen and (max-width: $mobile-width) {
  .gallery-item {
    margin: 0 0 $double-margin;
  }
}
