@import "../variables";

.main-menu {
  white-space: nowrap;

  font-size: $normal-font-size;

  list-style: none;

  .main-menu__submenu {
    background-color: rgba(255, 255, 255, 0.95);

    display: block;
    position: absolute;
    top: 100%;
    left: -1em;

    padding: 0 0.5em 0.5em;

    & > li {
      display: block;
      padding: 0.3em 0.2em 0.5em;
      margin: 0 0.5em;
    }
  }

  & > li {
    display: inline-block;
    padding: 0.3em 0.2em 0.5em;
    margin: 0 0.5em;

    position: relative;

    &:first-child {
      margin-left: 1em;
    }
  }

  a {
    color: $dark-color;
    border-color: lighten($dark-color, 60%);

    &:hover {
      border-color: lighten($dark-color, 30%);
    }
  }

  .selected {
    font-weight: bold;
    border-top: $menu-colored-mark-thickness solid $light-color;

    &.blue {
      border-top: $menu-colored-mark-thickness solid $blue-color;
    }

    &.orange {
      border-top: $menu-colored-mark-thickness solid $orange-color;
    }

    &.green {
      border-top: $menu-colored-mark-thickness solid $green-color;
    }

    &.yellow {
      border-top: $menu-colored-mark-thickness solid $yellow-color;
    }

    &.pink {
      border-top: $menu-colored-mark-thickness solid $pink-color;
    }

    &.red {
      border-top: $menu-colored-mark-thickness solid $red-color;
    }
  }
}

@media (max-width: $mobile-width) {
  .main-menu{
    font-size: 1em;
  }
}
