@import "../variables";

.main-menu {
  -webkit-overflow-scrolling: touch;

  width: 100%;
  z-index: 100;
  overflow-x: scroll;
  position: fixed;
  top: 0;
  white-space: nowrap;
  background-color: rgba(255, 255, 255, 0.95);

  font-size: 1.1em;
  color: $menu-inactive-item-color;

  list-style: none;

  li {
    display: inline-block;
    padding: 0.3em 0.2em 0.5em;
    margin: 0 0.5em;

    &:first-child {
      margin-left: 1em;
    }
  }

  a {
    text-decoration: none;

    color: $dark-color;
    //border-bottom: 1px solid darken($light-color, 50%);
    border-bottom: 1px solid lighten($dark-color, 60%);

    //&:hover {
    //  color: $dark-color;
    //
    //  border-bottom: 1px solid darken($lighter-color, 50%);
    //}
  }

  .selected {
    font-weight: bold;
    border-top: $menu-colored-mark-thickness solid $light-color;

    a:link, a:visited {
      color: $dark-color;
      text-decoration: none;
      border-bottom: none;
    }

    &.blue {
      border-top: $menu-colored-mark-thickness solid $blue-color;
    }

    &.orange {
      border-top: $menu-colored-mark-thickness solid $orange-color;
    }

    &.green {
      border-top: $menu-colored-mark-thickness solid $green-color;
    }

    &.yellow {
      border-top: $menu-colored-mark-thickness solid $yellow-color;
    }

    &.pink {
      border-top: $menu-colored-mark-thickness solid $pink-color;
    }

    &.red {
      border-top: $menu-colored-mark-thickness solid $red-color;
    }
  }
}

@media (max-width: $mobile-width) {
  header{
    overflow: hidden;
  }

  .main-menu{
    background-color: white;
  }
}
