@import "../variables";

.navigation {
  -webkit-overflow-scrolling: touch;

  width: 100%;
  z-index: 100;
  overflow-x: scroll;
  position: fixed;
  top: 0;
  white-space: nowrap;
  background-color: $darker-color;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__right {
  color: $light-color;
  margin-right: 3em;

  z-index:1000;
}

@media (max-width: $mobile-width) {
  .navigation {
    overflow: hidden;

    width: 100%;
    z-index: 100;
    position: relative;
    top: 0;

    display: block;
    //display: flex;
    //justify-content: flex-start;
    //align-items: center;
  }

  .navigation__right {
    //display: none;
    //margin-right: 0;
  }
}

