@import "../variables";

.navigation {
  width: 100%;
  background-color: white;

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.navigation__right {
  color: $dark-color;
  font-size: $normal-font-size;
  margin-right: 1em;

  z-index: 1000;
}

@media (max-width: $mobile-width) {
  .navigation {
    background-color: white;
  }

  .navigation__right {
    display: none;
  }
}

@media screen and (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
  @media screen and (orientation: portrait) {
    .navigation__right {
      display: none;
    }
  }
}
