@import "../variables";

.navigation {
  -webkit-overflow-scrolling: touch;

  width: 100%;
  z-index: 100;
  overflow-x: scroll;
  position: fixed;
  top: 0;
  white-space: nowrap;

  background-color: rgba(255, 255, 255, 0.95);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__right {
  color: $dark-color;
  margin-right: 1em;

  z-index: 1000;
}

@media (max-width: $mobile-width) {
  .navigation {
    background-color: white;
  }

  .navigation__right {
    display: none;
  }
}

@media screen and (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
  @media screen and (orientation: portrait) {
    .navigation__right {
      display: none;
    }
  }
}
