.page-schedule {
  &.ng-leave {
    transform-origin: 0% 0%;
    animation: rotateFall var(--short-duration) both ease-in;
  }

  &.ng-enter {
    animation: scaleUp var(--short-duration) both ease-in;
  }
}