@import "../variables";

.parallax {
  width: 1280px;
  height: 1000px;
  margin: 0 auto;

  position: relative;
  overflow: hidden;

  &__layer {
    position: absolute;
  }

  &__end {
    position: absolute;
    width: 100%;
    background-color: white;
    bottom: 0;
  }
}