.schedule-table {
  --current-week-day-color: var(--blue-color);

  --cell-width: 9em;
  --cell-tablet-width: 7.5em;

  --group-cell-width: 4em;
  --group-cell-tablet-width: 3em;

  --row-padding: var(--single-margin) 0;
  --current-day-column-border-thickness: 3px;

  margin-bottom: var(--double-margin);

  max-width: 70em;
  overflow-x: auto;

  a{
    color: var(--dark-color);
  }

  .lesson {
    margin-bottom: var(--half-margin);
  }

  .teacher {
    font-style: italic;
  }

  .current {
    border-left: var(--current-day-column-border-thickness) solid;
    border-right: var(--current-day-column-border-thickness) solid;
  }

  &__body {
    display: flex;
    flex-direction: column;
  }

  &__body-row{
    display: flex;
    justify-content: space-between;
  }

  &__body-group{
    min-width: var(--group-cell-width);
    padding: var(--row-padding);

    text-align: center;

    p.name {
      font-size: 1.25em;
      font-weight: 800;
    }
  }

  &__head-record {
    min-width: var(--cell-width);
    max-width: var(--cell-width);
    padding: var(--row-padding);

    text-align: center;

    & > .group {
      min-width: var(--group-cell-width);
    }

    .date {
      margin: .5em 0 0;
      font-size: 1.5em;
    }
  }

  &__record{
    min-width: var(--cell-width);
    max-width: var(--cell-width);
    padding: var(--row-padding);

    text-align: center;
  }

  &__course{
    margin-bottom: var(--half-margin);
  }
}

@media screen and (min-width: var(--tablet-min-width)) and (max-width: var(--tablet-max-width)) {
  .schedule-table {
    min-width: 900px;

    .lesson {
      font-size: .9em;
      font-weight: normal;
    }

    .teacher {
      font-size: .9em;
      font-weight: normal;
    }

    &__head{
      & > div{
        min-width: var(--cell-tablet-width);
      }

      & > .group{
        min-width: var(--group-cell-tablet-width);
      }
    }

    &__body-group{
      min-width: var(--group-cell-tablet-width);

      p.name {
        font-size: 1em;
      }
    }

    &__record{
      min-width: var(--cell-tablet-width);
    }
  }
}
