@import "../variables";

$current-week-day-color: $blue-color;

$cell-width: 9em;
$cell-tablet-width: 7.5em;

$group-cell-width: 4em;
$group-cell-tablet-width: 3em;

$current-week-day-color: $blue-color;
$row-padding: $single-margin 0;
$current-day-column-border-thickness: 3px;

.schedule-table {
  margin-bottom: $double-margin;

  a{
    color: $dark-color;
  }

  .lesson {
    font-size: 1.1em;
    font-weight: bold;
  }

  .teacher {
    font-style: italic;
  }

  .current {
    border-left: $current-day-column-border-thickness solid $current-week-day-color;
    border-right: $current-day-column-border-thickness solid $current-week-day-color;
  }

  &__head{
    display: flex;

    .date {
      margin: .5em 0 0;
      font-size: 1.5em;
    }

    .group {
      color: #666;
    }

    & > div{
      min-width: $cell-width;
      text-align: center;
    }

    & > .group{
      min-width: $group-cell-width;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
  }

  &__body-row{
    display: flex;
    justify-content: space-between;

    &:nth-child(even) {
      background-color: $schedule-row-color;
    }
  }

  &__body-group{
    min-width: $group-cell-width;
    padding: $row-padding;

    text-align: center;

    p.name {
      font-size: 1.25em;
      font-weight: 800;
    }
  }

  &__record{
    min-width: $cell-width;
    padding: $row-padding;

    text-align: center;
  }

  &__course{
    margin-bottom: $half-margin;
  }
}

@media screen and (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
  .schedule-table {
    min-width: 900px;

    .lesson {
      font-size: .9em;
      font-weight: normal;
    }

    .teacher {
      font-size: .9em;
      font-weight: normal;
    }

    &__head{
      & > div{
        min-width: $cell-tablet-width;
      }

      & > .group{
        min-width: $group-cell-tablet-width;
      }
    }

    &__body-group{
      min-width: $group-cell-tablet-width;

      p.name {
        font-size: 1em;
      }
    }

    &__record{
      min-width: $cell-tablet-width;
    }
  }
}
