@import "../variables";

$picture-width: 30%;
$info-width: 100% - $picture-width;

.TeacherCard {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &-Picture {
    margin-bottom: var(--double-margin);
    width: $picture-width;
    max-width: 15em;
    min-width: 12em;

    img {
      width: 100%;
    }
  }

  &-Info {
    width: $info-width;

    padding-left: var(--double-margin);
    margin-bottom: var(--double-margin);
    box-sizing: border-box;
  }

  &-Position {
    font-size: $bigger-font-size;
  }
}

@media (max-width: $mobile-width) {
  .TeacherCard {
    margin: 0 auto var(--double-margin);

    &-Picture {
      width: 100%;
      max-width: $mobile-width;
    }

    &-Info {
      width: 100%;
      padding-left: 0;
    }
  }
}
