@import "../variables";

$picture-width: 30%;
$info-width: 100% - $picture-width;

.teacher-profile {
  margin: 0 auto $double-margin;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &__picture {
    width: $picture-width;
    max-width: 15em;
    min-width: 12em;

    img {
      width: 100%;
    }
  }

  &__info {
    width: $info-width;

    padding-left: $single-margin;
    box-sizing: border-box;

    h3 {
      font-weight: 200;

      strong {
        font-weight: 600;
      }
    }

    .info {
      margin-bottom: $single-margin;
    }

    .biography {
      margin-top: $single-margin;

      p{
        margin-bottom: $single-margin;
      }
    }
  }
}

@media (max-width: $mobile-width) {
  .teacher-profile {
    margin: 0 auto $double-margin;

    &__picture {
      width: 100%;
      max-width: $mobile-width;
    }

    &__info {
      width: 100%;
      padding-left: 0;
    }
  }
}
