@import "../variables";

.teacher-profile {
  margin: 0 auto $double-margin;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.teacher-profile__picture {
  width: 20%;
  max-width: 15em;
  min-width: 12em;
  margin: 0 1em;

  img {
    width: 100%;
  }
}

.teacher-profile__info {
  width: 60%;
  margin: 0 1em;

  h3 {
    font-weight: 200;

    span {
      font-weight: 600;
    }
  }
}