@import "../variables";

$picture-width: 30%;
$info-width: 100% - $picture-width;

.teacher-profile {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &__picture {
    margin: 0 0 $double-margin;
    width: $picture-width;
    max-width: 15em;
    min-width: 12em;

    img {
      width: 100%;
    }
  }

  &__info {
    width: $info-width;

    padding-left: $double-margin;
    margin: 0 0 $double-margin;
    box-sizing: border-box;

    h2 {
      font-size: $big-font-size;
      font-weight: 200;
      text-align: left;

      strong {
        font-weight: 600;
      }
    }
  }

  &__position {
    font-size: $bigger-font-size;
  }

  &__biography {
    margin-top: $double-margin;

    p {
      margin-bottom: $single-margin;
    }
  }
}

@media (max-width: $mobile-width) {
  .teacher-profile {
    margin: 0 auto $double-margin;

    &__picture {
      width: 100%;
      max-width: $mobile-width;
    }

    &__info {
      width: 100%;
      padding-left: 0;
    }
  }
}
