$user-size: 40px;
$half-margin: $single-margin/2;
$image-border-radius: .35em;
$image-border-thickness: $half-margin;

.timeline-record-instagram {
}

.timeline-record-instagram__head {
  margin-bottom: 1.25em;
  //margin-bottom: $single-margin;

  .date {
    text-align: center;
    color: #aaa;
  }
}

.timeline-record-instagram__body {
  img {
    max-width: 640px;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    border: $image-border-thickness solid white;
    box-shadow: $white-shadow;
    border-radius: $image-border-radius;
    margin: 0 auto $single-margin;
    display: block;
  }
}

.timeline-record-instagram__user {
  padding-top: $half-margin;

  span {
    margin-left: $half-margin;

    line-height: $user-size;
    vertical-align: top;
  }

  img {
    display: inline;
    width: $user-size;
    height: $user-size;
    border-radius: 50%;
    border: none;
    box-shadow: none;
  }
}