.menu {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;

    font-size: var(--font-size-second);
    list-style: none;
}

.menu.desktop {
    flex-direction: row;
}

.menu.mobile {
    flex-direction: column;
}

.menuItem {
    position: relative;
    border-top: var(--menu-mark-thickness) solid rgba(0, 0, 0, 0);
}

/* MOBILE */

.menuItem.mobile {
    font-size: var(--font-size-default);

    padding: var(--size-xs) var(--size-s);
}

.menuItem.mobile.selected {
    background-color: var(--color-back-opposite);
    color: var(--color-text-opposite)
}

.menuItem.mobile.selected a {
    color: var(--color-text-opposite)
}

/* DESKTOP */

.menuItem.desktop {
    padding: var(--size-xs) var(--size-s);
}

.menuItem.desktop.selected {
    border-top-color: var(--color-back-opposite);
}
