.menu {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;

    list-style: none;
}

.menuItem {
    position: relative;
    border-top: var(--menu-mark-thickness) solid rgba(0, 0, 0, 0);
}

/* MOBILE */

.menuItem.mobile {
    flex-direction: column;

    font-size: 1.25em;
    color: var(--color-text-opposite);
}

.menuItem.mobile.selected {
    background-color: var(--color-back-opposite);
}

/* DESKTOP */

.menuItem.desktop {
    padding: var(--size-xs) var(--size-s);
    margin-bottom: var(--size-s);
    margin-right: var(--size-s);
}

.menuItem.desktop:last-child {
    margin-right: 0;
}

.menuItem.desktop.selected {
    border-top-color: var(--color-back-opposite);
}
