.menu {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;

    gap: var(--size-m);

    font-size: var(--font-size-second);
    list-style: none;

    /* NOT VERTICAL */
    flex-direction: row;
}

.vertical {
    flex-direction: column;
}

/* MENU ITEM */

.menuItem {
    user-select: none;
    background-color: var(--color-back-main);
    border-radius: var(--size-s);
    transition: box-shadow 200ms ease-in, background-color 200ms ease-in;
    padding: var(--size-s) var(--size-s);
}

.menuItem.active {
    cursor: pointer;
}

.menuItem.active:hover {
    box-shadow: var(--shadow);
}

.menuItem.current {
    color: var(--color-text-opposite);
    background-color: var(--color-back-opposite);
}

.menuItem a {
    text-decoration: none;
    color: var(--color-text);
}

/* DARK THEME */
@media (prefers-color-scheme: dark) {
    .menuItem.active:hover {
        box-shadow: none;
        background-color: var(--color-back);
    }
}
