@import "../variables";

.theme-accessibility-font-biggest {
  font-size: 36pt;

  a {
    &:hover {
      border-width: 8px;
    }
  }

  .main-menu {
    font-size: $big-font-size;
  }

  footer {
    font-size: $big-font-size;
  }
}
