@import "../variables";

.theme-accessibility-black-white {
  background-color: $darker-color;
  color: $lighter-color;

  a {
    color: $lighter-color;
    text-decoration: none;
    border-bottom: 1px solid $lighter-color;

    &:hover {
      border-width: 4px;
    }
  }

  .accessibility-control{
    color: $darker-color;
  }

  .main-menu {
    a {
      color: $dark-color;
      border-bottom: 1px solid $dark-color;

      &:hover {
        border-width: 4px;
      }
    }

    .selected {
      border-top: $menu-colored-mark-thickness solid $dark-color;

      a:link, a:visited {
        color: $dark-color;
      }
    }
  }

  .content {
    &.content--padding-top--menu {
      padding-top: $menu-thickness + $double-margin + 8em;
      padding-bottom: $single-margin;
    }
  }

  .navigation {
    background-color: $lighter-color;
  }

  .parallax {
    &__end {
      background-color: $darker-color;
    }
  }

  .article {
    &__head {
      .date {
        color: $lighter-color;
      }
    }
  }

  .schedule-table {
    .current {
      border-color: $lighter-color;
    }
  }

  footer {
    color: $lighter-color;
    background-color: $darker-color;

    font-size: $normal-font-size;
  }
}
