@import "../variables";

.theme-accessibility-no-image {
  img {
    display: none;
  }

  video {
    display: none;
  }

  .html5-video-player {
    display: none;
  }

  .main-image{
    display: none;
  }
}
