.card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: var(--size-xl) var(--size-l); 
}

/* .card-grid > *:first-child {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
} */

@media screen and (max-width: 31.25em) {
}
