.card-grid {
    --min-cell-size: 240px;
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(auto-fill, minmax(var(--min-cell-size), 1fr));
    grid-auto-rows: 20em;
    grid-gap: var(--size-xl) var(--size-l);
}

/* .card-grid > *:first-child {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
} */

@media screen and (max-width: 31.25em) {
    .card-grid {
        grid-template-columns: 1fr;
        /* grid-template-columns: auto; */
        grid-gap: var(--size-l) 0;
    }
}
