<div>
    <timeline></timeline>
    <!--<div class="feed" ng-controller="FeedController">-->
        <!--<ul>-->
            <!--<li ng-repeat="post in feed" class="post" ng-class="{instagram: post.type === 'instagram'}">-->
                <!--<div class="user">-->
                    <!--<img ng-src="{{post.userpic}}" alt=""/>-->
                    <!--<span>{{post.username}}</span>-->
                <!--</div>-->
                <!--<div class="body">-->
                    <!--<p>{{post.text}}</p>-->
                    <!--<img ng-src="{{post.image}}" alt=""/>-->
                <!--</div>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->
</div>