<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="main.css">
        <link rel="stylesheet" href="animate.min.css">
        <link rel="stylesheet" href="schedule.css">
        <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
        <script src="schedule.js"></script>
    </head>
    <body>
        <div class="menu">
            <ul>
                <li><span>Школа</span></li>
                <li class="selected green"><a href="/">Расписание</a></li>
                <li><span>Занятия</span></li>
                <li><a href="/team">Коллектив</a></li>
                <li><span>Галерея</span></li>
                <li><a href="/docs">Документы</a></li>
            </ul>
        </div>
        
        <div class="schedule">
            <ul>
                <li><a href="">2012, осень</a></li>
                <li><a href="">2013, весна</a></li>
                <li><a href="">2013, осень</a></li>
                <li class="current">2014, весна</li>
            </ul>
            <table>
                <thead>
                    <th class="group">Гр.</th>
                    <th>
                        <p class="day">Понедельник</p>
                        <p class="date">30</p>
                    </th>
                    <th>
                        <p class="day">Вторник</p>
                        <p class="date">1</p>
                    </th>
                    <th>
                        <p class="day">Среда</p>
                        <p class="date">2</p>
                    </th>
                    <th class="current first">
                        <p class="day">Четверг</p>
                        <p class="date">3</p>
                    </th>
                    <th>
                        <p class="day">Пятница</p>
                        <p class="date">4</p>
                    </th>
                    <th class="weekend">
                        <p class="day">Суббота</p>
                        <p class="date">5</p>
                    </th>
                </thead>
                <tbody>
                    <tr>
                        <td class="group">
                            <p>1</p>
                        </td>
                        <td>
                            <p class="lesson"><a href="">Рисунок</a></p>
                            <p class="teacher"><a href="">С. А. Латыпова</a></p>
                            <p class="time">15:00—15:45</p>
                            <p class="time">15:55—16:40</p>
                        </td>
                        <td class="canceled">
                            <p class="lesson"><a href="">Живопись</a></p>
                            <p class="teacher"><a href="">В. Ю. Саржин</a></p>
                            <p class="time">15:00—15:45</p>
                            <p class="time">15:55—16:40</p>
                        </td>
                        <td>
                            <p class="lesson"><a href="">Макетирование</a></p>
                            <p class="teacher"><a href="">А. С. Тимашева</a></p>
                            <p class="time">15:00—15:45</p>
                            <p class="time">15:55—16:40</p>
                        </td>
                        <td class="current">
                            <p class="lesson"><a href="">Композиция</a></p>
                            <p class="teacher"><a href="">А. А Андеева</a></p>
                            <p class="time">15:00—15:45</p>
                            <p class="time">15:55—16:40</p>
                        </td>
                        <td>
                            <p class="lesson"><a href="">История искусства</a></p>
                            <p class="teacher"><a href="">М. Ю. Валькова</a></p>
                            <p class="time">15:00—15:45</p>
                            <p class="time">15:55—16:40</p>
                        </td>
                        <td>
                            <p class="lesson"><a href="">Комп. графика</a></p>
                            <p class="teacher"><a href="">Р. К. Тимашев</a></p>
                            <p class="time">15:00—15:45</p>
                            <p class="time">15:55—16:40</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="group">
                            <p>2</p>
                        </td>
                        <td>
                            <p class="lesson"><a href="">Рисунок</a></p>
                            <p class="teacher"><a href="">С. А. Латыпова</a></p>
                            <p class="time">15:00—15:45</p>
                            <p class="time">15:55—16:4</p>
                        </td>
                        <td>
                            
                        </td>
                        <td>
                        </td>
                        <td class="current">
                            <p class="lesson"><a href="">Рисунок</a></p>
                            <p class="teacher"><a href="">С. А. Латыпова</a></p>
                            <p class="time">15:00—15:45</p>
                            <p class="time">15:55—16:4</p>
                        </td>
                        <td>
                            
                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td class="group">
                            <p>3</p>
                        </td>
                        <td>
                            <p class="lesson"><a href="">Рисунок</a></p>
                            <p class="teacher"><a href="">С. А. Латыпова</a></p>
                            <p class="time">15:00—15:45</p>
                            <p class="time">15:55—16:40</p>
                        </td>
                        <td>
                            <p class="lesson"><a href="">Живопись</a></p>
                            <p class="teacher"><a href="">В. Ю. Саржин</a></p>
                            <p class="time">15:00—15:45</p>
                            <p class="time">15:55—16:40</p>
                        </td>
                        <td>
                            <p class="lesson"><a href="">Макетирование</a></p>
                            <p class="teacher"><a href="">А. С. Тимашева</a></p>
                            <p class="time">15:00—15:45</p>
                            <p class="time">15:55—16:40</p>
                        </td>
                        <td class="current">
                            <p class="lesson"><a href="">Композиция</a></p>
                            <p class="teacher"><a href="">А. А Андеева</a></p>
                            <p class="time">15:00—15:45</p>
                            <p class="time">15:55—16:40</p>
                        </td>
                        <td>
                            <p class="lesson"><a href="">История искусства</a></p>
                            <p class="teacher"><a href="">М. Ю. Валькова</a></p>
                            <p class="time">15:00—15:45</p>
                            <p class="time">15:55—16:40</p>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="group">
                            <p>4</p>
                        </td>
                        <td>
                            <p class="lesson"><a href="">Рисунок</a></p>
                            <p class="teacher"><a href="">С. А. Латыпова</a></p>
                            <p class="time">15:00—15:45</p>
                            <p class="time">15:55—16:40</p>
                        </td>
                        <td>
                            <p class="lesson"><a href="">Живопись</a></p>
                            <p class="teacher"><a href="">В. Ю. Саржин</a></p>
                            <p class="time">15:00—15:45</p>
                            <p class="time">15:55—16:40</p>
                        </td>
                        <td>
                            <p class="lesson"><a href="">Макетирование</a></p>
                            <p class="teacher"><a href="">А. С. Тимашева</a></p>
                            <p class="time">15:00—15:45</p>
                            <p class="time">15:55—16:40</p>
                        </td>
                        <td class="current">
                            <p class="lesson"><a href="">Композиция</a></p>
                            <p class="teacher"><a href="">А. А Андеева</a></p>
                            <p class="time">15:00—15:45</p>
                            <p class="time">15:55—16:40</p>
                        </td>
                        <td>
                            <p class="lesson"><a href="">История искусства</a></p>
                            <p class="teacher"><a href="">М. Ю. Валькова</a></p>
                            <p class="time">15:00—15:45</p>
                            <p class="time">15:55—16:40</p>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="group">
                            <p>5</p>
                        </td>
                        <td>
                            <p class="lesson"><a href="">Рисунок</a></p>
                            <p class="teacher"><a href="">С. А. Латыпова</a></p>
                            <p class="time">15:00—15:45</p>
                            <p class="time">15:55—16:40</p>
                        </td>
                        <td>
                            <p class="lesson"><a href="">Живопись</a></p>
                            <p class="teacher"><a href="">В. Ю. Саржин</a></p>
                            <p class="time">15:00—15:45</p>
                            <p class="time">15:55—16:40</p>
                        </td>
                        <td>
                            <p class="lesson"><a href="">Макетирование</a></p>
                            <p class="teacher"><a href="">А. С. Тимашева</a></p>
                            <p class="time">15:00—15:45</p>
                            <p class="time">15:55—16:40</p>
                        </td>
                        <td class="current">
                            <p class="lesson"><a href="">Композиция</a></p>
                            <p class="teacher"><a href="">А. А Андеева</a></p>
                            <p class="time">15:00—15:45</p>
                            <p class="time">15:55—16:40</p>
                        </td>
                        <td>
                            <p class="lesson"><a href="">История искусства</a></p>
                            <p class="teacher"><a href="">М. Ю. Валькова</a></p>
                            <p class="time">15:00—15:45</p>
                            <p class="time">15:55—16:40</p>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="group">
                            <p>6</p>
                        </td>
                        <td>
                            <p class="lesson"><a href="">Рисунок</a></p>
                            <p class="teacher"><a href="">С. А. Латыпова</a></p>
                            <p class="time">15:00—15:45</p>
                            <p class="time">15:55—16:40</p>
                        </td>
                        <td>
                            <p class="lesson"><a href="">Живопись</a></p>
                            <p class="teacher"><a href="">В. Ю. Саржин</a></p>
                            <p class="time">15:00—15:45</p>
                            <p class="time">15:55—16:40</p>
                        </td>
                        <td>
                            <p class="lesson"><a href="">Макетирование</a></p>
                            <p class="teacher"><a href="">А. С. Тимашева</a></p>
                            <p class="time">15:00—15:45</p>
                            <p class="time">15:55—16:40</p>
                        </td>
                        <td class="current">
                            <p class="lesson"><a href="">Композиция</a></p>
                            <p class="teacher"><a href="">А. А Андеева</a></p>
                            <p class="time">15:00—15:45</p>
                            <p class="time">15:55—16:40</p>
                        </td>
                        <td>
                            <p class="lesson"><a href="">История искусства</a></p>
                            <p class="teacher"><a href="">М. Ю. Валькова</a></p>
                            <p class="time">15:00—15:45</p>
                            <p class="time">15:55—16:40</p>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="group">
                            <p>7</p>
                        </td>
                        <td>
                            <p class="lesson"><a href="">Рисунок</a></p>
                            <p class="teacher"><a href="">С. А. Латыпова</a></p>
                            <p class="time">15:00—15:45</p>
                            <p class="time">15:55—16:40</p>
                        </td>
                        <td>
                            <p class="lesson"><a href="">Живопись</a></p>
                            <p class="teacher"><a href="">В. Ю. Саржин</a></p>
                            <p class="time">15:00—15:45</p>
                            <p class="time">15:55—16:40</p>
                        </td>
                        <td>
                            
                        </td>
                        <td class="current last">
                            <p class="lesson"><a href="">Композиция</a></p>
                            <p class="teacher"><a href="">А. А Андеева</a></p>
                            <p class="time">15:00—15:45</p>
                            <p class="time">15:55—16:40</p>
                        </td>
                        <td>
                            <p class="lesson"><a href="">История искусства</a></p>
                            <p class="teacher"><a href="">М. Ю. Валькова</a></p>
                            <p class="time">15:00—15:45</p>
                            <p class="time">15:55—16:40</p>
                        </td>
                        <td>
                            <p class="lesson"><a href="">Компьютераня графика</a></p>
                            <p class="teacher"><a href="">Р. К. Тимашев</a></p>
                            <p class="time">15:00—15:45</p>
                            <p class="time">15:55—16:40</p>
                        </td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </body>
</html>