.personCard {
    --person-card-width: 30%;
    --person-card-height: 24em;

    display: flex;
    flex-direction: column;

    min-width: 10em;
    max-width: 30em;
}

.personCard > a {
    display: block;
    position: relative;
}

.personCard-Picture {
    position: relative;
    border-radius: var(--radius);

    width: 100%;
    height: var(--person-card-height);

    overflow: hidden;
}

.personCard-Picture img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    object-fit: cover;
    transition: all 150ms ease-out;
}

.personCard-Title,
.personCard-Body {
    position: absolute;
    width: 100%;
    padding: var(--single-margin);
    box-sizing: border-box;
    color: white;
    text-align: center;
    text-shadow: 0 0 3px #000;
}

.personCard-Title {
    top: 0;
}

.personCard-Body {
    bottom: 0;
}

.personCard:hover img {
    width: 105%;
    height: 105%;
    top: -2.5%;
    left: -2.5%;
}

/* Tablet */

@media screen and (min-width: var(--tablet-min-width)) and (max-width: var(--tablet-max-width)) {
    .personCard {
        --person-card-height: 20em;
    }

    @media screen and (orientation: portrait) {
    }
}

/* Mobile */

@media (max-width: 31.25em) {
    .personCard {
        --person-card-width: 100%;
    }
}
