.AppWrapperHeader {
    background-color: rgba(34, 34, 34, 0.95);
    color: #ebebeb;

    /*background-color: rgba(255, 255, 255, 0.95);*/
    /*color: #222;*/

    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);

    pointer-events: auto;

    display: flex;
    align-items: center;
}

.AppWrapperHeader-main {
    flex: 1;
}

.AppWrapperHeader h1 {
    text-align: center;
    margin: 0;
    padding: .5em 0 .4em;
    font-size: 1.25rem;
    font-weight: 100;
}

.controls {
    margin: 0 15px;
}

.controls a{
    color: #bbb;
    text-decoration: none;
}

.controls a:hover{
    color: white;
}