.Icon {
    display: inline-block;

    width: 20px;
    height: 20px;

    /*background: grey;*/
    background-size: 100%;
}

.IconFullScreenOn {
    background-image: url('/icon-fullscreen-on.svg');
}

.IconFullScreenOff {
    background-image: url('/icon-fullscreen-off.svg');
}

.InvisibleButton {
    background: none;
    border: none;

    outline: none;
}

.InvisibleButton {
    width: 24px;
    height: 24px;
    padding: 0;
    border-radius: 0;

    cursor: pointer;
}

/*.InvisibleButton:focus {*/
    /*border: 2px solid #2f9fff;*/
/*}*/