.navigation {
    padding: var(--size-s);
}

.footerLinks {
    margin-bottom: var(--size-l);
}

.footerPanel {
    align-items: baseline;
}

.gosuslugi {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 30px;
}
