<div class="content content_semi-wide"  ng-controller="AlbumController">
    <breadcrumbs crumbs="crumbs"></breadcrumbs>

    <div class="album-block">
        <h3>{{album.title}}</h3>

        <div class="album" ng-show="album">
            <div class="album-info">
                <p>Предмет: {{album.course}}</p>
                <p>Преподаватель: {{album.teacherName}}</p>
                <p class="description" ng-show="album.description">{{album.description}}</p>
            </div>

            <div class="album-item" ng-repeat="product in album.content">
                <img ng-src="{{product.content.big.url}}" alt=""/>

                <div class="product-info">
                    <div>
                        <p ng-show="product.title" class="title">{{product.title | removeNewline}}</p>

                        <p>{{product.author}}</p>

                        <p ng-show="product.authorAge">{{product.authorAge}} лет</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>