<div class="gallery-block" ng-controller="GalleryPageController">

    <div class="gallery-period" ng-repeat="period in years">
        <p class="period">{{period.year}}</p>
        <div><div class="gallery-album" ng-repeat="album in period.albums">
            <h3><a href="{{album.url}}">{{album.title}}</a></h3>
            <a href="{{album.url}}" class="invisible">
                <img ng-src="{{album.preview_url}}" alt=""/>
            </a>
            <p>{{album.course}}</p>
        </div></div>
    </div>


    <!--<div class="gallery-album" ng-repeat="album in albums">-->
        <!--<h3><a href="{{album.url}}">{{album.title}}</a></h3>-->
        <!--<a href="{{album.url}}" class="invisible">-->
            <!--<img ng-src="{{album.preview_url}}" alt=""/>-->
        <!--</a>-->
        <!--<p>{{album.course}}</p>-->
    <!--</div>-->
</div>
