<!DOCTYPE html>
<html lang="ru">
<head>
    <base href="/">

    <title>Edit Hudozka</title>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, maximum-scale=1.0"/>
    <meta name="referrer" content="unsafe-url">

    <link rel="icon" type="image/png" href="//static.shlisselburg.org/art/graphics/favicon-32.png"/>
    <link rel="apple-touch-icon" sizes="57x57" href="//static.shlisselburg.org/art/graphics/favicon-57.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="//static.shlisselburg.org/art/graphics/favicon-72.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="//static.shlisselburg.org/art/graphics/favicon-114.png"/>
    <link rel="apple-touch-icon" sizes="144x144" href="//static.shlisselburg.org/art/graphics/favicon-144.png"/>

    <!--<link href="https://fonts.googleapis.com/css?family=PT+Sans|PT+Serif" rel="stylesheet" as="font">-->
    <link rel="stylesheet" href="/style.css">
</head>

<body>
<div id="app"></div>
<script src="edit.js"></script>
</body>

</html>
