<div class="accessibility-control">
    <ul>
        <li>
            <button ng-click="setColorTheme('bw')"
            >Белым по черному
            </button>
        </li>
        <li>
            <button ng-click="setColorTheme('wb')"
            >Черным по белому
            </button>
        </li>
        <!--<li>-->
            <!--<button ng-click="setTheme('dark-blue')"-->
            <!--&gt;Темно-синим по голубому-->
            <!--</button>-->
        <!--</li>-->
        <!--<li>-->
            <!--<button ng-click="setTheme('brown')"-->
            <!--&gt;Коричневым по бежевому</button>-->
        <!--</li>-->
        <!--<li>-->
            <!--<button ng-click="setTheme('green')"-->
            <!--&gt;Зеленым по темно-коричневому</button>-->
        <!--</li>-->
    </ul>

    <ul>
        <li>
            <button ng-click="setFontTheme('')"
            >Нормально
            </button>
        </li>
        <li>
            <button ng-click="setFontTheme('big')"
            >Большие
            </button>
        </li>
        <li>
            <button ng-click="setFontTheme('biggest')"
            >Огромные
            </button>
        </li>
    </ul>

    <ul>
        <li>
            <button ng-click="setFontFamilyTheme('sans')"
            >Без засечек
            </button>
        </li>
        <li>
            <button ng-click="setFontFamilyTheme('serif')"
            >С засечками
            </button>
        </li>
    </ul>
</div>