<div class="content content_semi-wide">
    <breadcrumbs crumbs="$ctrl.crumbs"></breadcrumbs>

    <div class="album-block">
        <h3>{{$ctrl.album.title}}</h3>

        <div class="album" ng-show="$ctrl.album">
            <div class="album-info">
                <p>Предмет: {{$ctrl.album.course}}</p>
                <p>Преподаватель: {{$ctrl.album.teacherName}}</p>
                <p class="description" ng-show="$ctrl.album.description">{{$ctrl.album.description}}</p>
            </div>

            <div class="album-item" ng-repeat="product in $ctrl.album.content">
                <img ng-src="{{product.content.big.url}}" alt=""/>

                <div class="product-info">
                    <div>
                        <p ng-show="product.title" class="title">{{product.title | removeNewline}}</p>

                        <p>{{product.author}}</p>

                        <p ng-show="product.authorAge">{{product.authorAge}} лет</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>