<div class="content content_full">
    <img src="https://static.shlisselburg.org/art/graphics/entrance.jpg" width="100%">
</div>

<div class="content content_thin">
    <!--<div class="main-block">-->
        <!--<div>-->
        <!--&lt;!&ndash;<a href="tel://{{telephone}}"></a>&ndash;&gt;-->
        <!--<span class="telephone">{{contact.telephone}}</span>-->

        <!--&lt;!&ndash;<ul class="submenu">&ndash;&gt;-->
        <!--&lt;!&ndash;<li><a href="/team#director">директор</a><p>М. Г. Тимашева</p></li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li><a href="/enter">поступление</a></li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li><a href="/contacts">контактная информация</a></li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li><a href="/awards">награды</a></li>&ndash;&gt;-->
        <!--&lt;!&ndash;</ul>&ndash;&gt;-->
        <!--</div>-->

        <!--<h1>Шлиссельбургская детская художественная&nbsp;школа</h1>-->
    <!--</div>-->

    <!--<div class="tape-block">-->
        <!--<div class="tape-block__body">-->
            <!--<div class="tape tape-tl"></div>-->
            <!--<div class="tape tape-tr"></div>-->
            <!--<div class="tape tape-bl"></div>-->
            <!--<div class="tape tape-br"></div>-->

            <!--<div class="tape-block__content"></div>-->
        <!--</div>-->
    <!--</div>-->

    <timeline></timeline>
</div>