<div class="schedule-record" ng-class="{even: $ctrl.i % 2 === 0, empty: !$ctrl.record.content[0].lesson}">
    <div class="schedule-record__head">Группа {{$ctrl.record.name}} ({{$ctrl.record.time}})</div>
    <div class="schedule-record__main">
        <p class="schedule-record__name">{{$ctrl.record.content[0].course.title}}</p>
        <p class="schedule-record__tutor"><a href="{{$ctrl.record.content[0].teacher.url}}">{{$ctrl.short($ctrl.record.content[0].teacher.name)}}</a></p>
        <p class="schedule-record__time" ng-repeat="time in $ctrl.record.content[0].time">{{time.join('—')}}</p>
    </div>
</div>