<div class="schedule-record" ng-class="{even: $ctrl.i % 2 === 0, empty: !$ctrl.record.content.lesson}">
    <div class="schedule-record__head">Группа {{$ctrl.record.name}} ({{$ctrl.record.time}})</div>
    <div class="schedule-record__main">
        <p class="schedule-record__name">{{$ctrl.record.content.lesson}}</p>
        <p class="schedule-record__tutor">{{$ctrl.record.content.teacher}}</p>
        <p class="schedule-record__time" ng-repeat="time in $ctrl.record.content.time">{{time}}</p>
    </div>
</div>