<div class="schedule-table" ng-show="$ctrl.schedule">
    <div class="schedule-table__head">
        <div class="group">Гр.</div>
        <div ng-class="{current: $ctrl.isToday(0)}">
            <p class="day">Понедельник</p>
            <p class="date">{{$ctrl.weekDay(0)}}</p>
        </div>
        <div ng-class="{current: $ctrl.isToday(1)}">
            <p class="day">Вторник</p>
            <p class="date">{{$ctrl.weekDay(1)}}</p>
        </div>
        <div ng-class="{current: $ctrl.isToday(2)}">
            <p class="day">Среда</p>
            <p class="date">{{$ctrl.weekDay(2)}}</p>
        </div>
        <div ng-class="{current: $ctrl.isToday(3)}">
            <p class="day">Четверг</p>
            <p class="date">{{$ctrl.weekDay(3)}}</p>
        </div>
        <div ng-class="{current: $ctrl.isToday(4)}">
            <p class="day">Пятница</p>
            <p class="date">{{$ctrl.weekDay(4)}}</p>
        </div>
        <div ng-class="{current: $ctrl.isToday(5)}">
            <p class="day">Суббота</p>
            <p class="date">{{$ctrl.weekDay(5)}}</p>
        </div>
    </div>

    <div class="schedule-table__body">
    <div class="schedule-table__body-row"
         ng-repeat="i in $ctrl.schedule.groups">

        <div class="schedule-table__body-group">
            <p class="name">{{i.name}}</p>
            <p class="time">{{i.time}}</p>
        </div>

        <div class="schedule-table__record"
             ng-repeat="day in i.week track by $index"
             ng-class="{current: $ctrl.isToday($index)}"
        >
            <div class="schedule-table__course"
                ng-repeat="lesson in day track by $index"
            >
                <p class="lesson">
                    <a ng-if="lesson.course.url"
                       href="{{lesson.course.url}}"
                    >
                        {{lesson.course.title}}
                    </a>
                    <span ng-if="!lesson.course.url">
                        {{lesson.course.title}}
                    </span>
                </p>
                <p class="teacher">
                    <a ng-if="lesson.teacher.url"
                       href="{{lesson.teacher.url}}"
                    >
                        {{$ctrl.short(lesson.teacher.name)}}
                    </a>
                    <span ng-if="!lesson.teacher.url"
                    >
                        {{$ctrl.short(lesson.teacher.name)}}
                    </span>
                </p>
                <p class="time" ng-repeat="time in lesson.time">{{time.join(' — ')}}</p>
            </div>
        </div>
    </div>
    </div>
</div>