<div class="schedule-table" ng-show="$ctrl.schedule">
    <div class="schedule-table__head">
        <div class="group">Гр.</div>
        <div ng-class="{current: $ctrl.isToday(0)}">
            <p class="day">Понедельник</p>
            <p class="date">{{$ctrl.weekDay(0)}}</p>
        </div>
        <div ng-class="{current: $ctrl.isToday(1)}">
            <p class="day">Вторник</p>
            <p class="date">{{$ctrl.weekDay(1)}}</p>
        </div>
        <div ng-class="{current: $ctrl.isToday(2)}">
            <p class="day">Среда</p>
            <p class="date">{{$ctrl.weekDay(2)}}</p>
        </div>
        <div ng-class="{current: $ctrl.isToday(3)}">
            <p class="day">Четверг</p>
            <p class="date">{{$ctrl.weekDay(3)}}</p>
        </div>
        <div ng-class="{current: $ctrl.isToday(4)}">
            <p class="day">Пятница</p>
            <p class="date">{{$ctrl.weekDay(4)}}</p>
        </div>
        <div ng-class="{current: $ctrl.isToday(5)}">
            <p class="day">Суббота</p>
            <p class="date">{{$ctrl.weekDay(5)}}</p>
        </div>
    </div>

    <div class="schedule-table__body">
    <div class="schedule-table__body-row"
         ng-repeat="i in $ctrl.schedule">

        <div class="schedule-table__body-group">
            <p class="name">{{i.group}}</p>
            <p class="time">{{i.time}}</p>
        </div>

        <div class="schedule-table__record"
             ng-repeat="day in i.week track by $index"
             ng-class="{current: $ctrl.isToday($index)}"
        >
            <p class="lesson"><a href="">{{day.lesson}}</a></p>
            <p class="teacher"><a href="{{day.teacher.url}}">{{day.teacher.name}}</a></p>
            <p class="time" ng-repeat="time in day.time">{{time}}</p>
        </div>
    </div>
    </div>
</div>