<div class="teacher-profile">
    <div class="teacher-profile__picture">
        <img ng-src="{{$ctrl.image.url}}" >
    </div>

    <div class="teacher-profile__info">
        <h3>{{$ctrl.firstName}} {{$ctrl.middleName}} <strong>{{$ctrl.lastName}}</strong></h3>

        <div class="info">
            <p><strong>{{$ctrl.member.position}}</strong></p>
            <p>{{$ctrl.member.status}}</p>
            <p>Образование: {{$ctrl.member.edu}}</p>
            <p>Диплом: {{$ctrl.member.diploma}}</p>
        </div>

        <div class="biography" ng-bind-html="$ctrl.biography"></div>
    </div>
</div>