.MarkerTable {
  width: 100%;
  margin-bottom: var(--double-margin);

  border-spacing: 0;
  border-collapse: separate;

  thead {
    height: 64px;
  }

  th {
    text-align: left;

    padding: 5px;

    &:last-child {
      text-align: right;
    }
  }

  tr td:last-child {
    text-align: right;
  }

  tr {
    line-height: 32px;
  }

  td {
    min-width: 32px;

    padding: 5px;
  }

  tr:nth-child(5n) {
    background: #e9eaec;
  }
}
