//.gallery-block {
//  margin: 2em 0 0;
//  display: flex;
//  justify-content: center;
//  flex-wrap: wrap;
//  align-items: flex-start;
//}

.gallery-block {
  margin: 2em 0 0;
  display: block;
}

.gallery-period{
  margin-bottom: 2em;
  
  & > div{
    margin: 1.5em 0 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  p.period{
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
  }
}

.gallery-album {
  margin: 0 1em 2em;

  h3{
    margin: 0 0 0.35em;
  }

  img {
    max-width: 100%;
  }
}

.album-block {
  width: 70%;
  margin: 0 auto;
}

@media (max-width: 31.25em) {
  .gallery-album {
    margin: 0 0 1em;
  }
}