* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: "PT Sans", Arial, sans-serif;
  min-width: 320px;
}

.wrapper {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

.content {
  flex: 1;
  width: 90%;
  margin: 0 auto;
}

a {
  color: #3f9cea;
  text-decoration: none;
  border-bottom: 1px solid rgba(63, 156, 234, 0.25);
}

a:hover {
  border-bottom: 1px solid rgba(63, 156, 234, 0.5);
}

a:active {
  border-bottom: 1px solid rgb(63, 156, 234);
}

h3 a {
  color: black;
  text-decoration: none;
  border-bottom: 1px solid #ddd;

  &:hover {
    border-bottom: 1px solid #484848;
  }

  &:active {
    border-bottom: 1px solid #000000;
  }
}

a.invisible {
  border-bottom: none;
}

ul.submenu {
  list-style: none;
  display: inline-block;
  margin: 0 auto;
  width: 70%;
  text-align: center;

  li {
    display: inline-block;
    vertical-align: top;
    margin: 0 30px 0 0;

    p {
      margin: 2px 0 0;
      font-size: 0.75em;
      color: #999;
    }
  }
}