.page-schedule {
    &.ng-leave {
        transform-origin: 0% 0%;
        animation: rotateFall 0.3s both ease-in;
    }

    &.ng-enter {
        animation: scaleUp 0.3s both ease-in;
    }
}

.schedule {
    position: relative;
    margin: 30px auto 0 auto;
    padding-bottom: 50px;
    text-align: center;

    & > p {
        margin: 0 0 1em;
    }
}