.page-schedule {
    &.ng-leave {
        transform-origin: 0% 0%;
        animation: rotateFall 0.3s both ease-in;
    }

    &.ng-enter {
        animation: scaleUp 0.3s both ease-in;
    }
}

.schedule{
    position: relative;
    margin: 30px auto 0 auto;
    padding-bottom: 50px;
    text-align: center;

    & > p{
        margin: 0 0 1em;
        //text-align: right;
    }

    .schedule-block{
        overflow-x: scroll;
    }

    table{
        position: relative;
        margin: 30px auto 0 auto;
        
        border-spacing: 0px;
        text-align: center;

        p {
            margin-bottom: .25em;
        }

        td{
            position: relative;

            &:not(.group){
                min-width: 150px;
            /*    width: 15%;*/
                width: 150px;
                padding: 8px 10px 8px;
                
                vertical-align:baseline;
            }

            &.group{
                min-width: 60px;
            /*    width: 5%;*/
                width: 60px;
                position: relative;
                vertical-align:baseline;

                p.name{
                    font-size: 1.4em;
                    font-weight: 800;
                    color: #242424;
                }
            }
        }
    }

    thead{
        animation-duration: 0.3s;

        th{
            font-weight: normal;
            vertical-align: baseline;
            height: 80px;
            padding: 10px 0 0;

            &.weekend{
                color: #f52;
            }
        }

        .date{
            font-size: 1.5em;
        }

        .group{
            color: #666;
        }
    }

    tbody tr:nth-child(even){
        background-color: #f3f3fd;
    }

    .lesson{
        font-size: 1.1em;
        font-weight: bold;
    }

    .teacher{
        font-style: italic;
    }

    a{
        color: black;
        
        text-decoration: none;
        border-bottom: 1px solid #ccc;
    }

    .current{
        border-left: 2px solid #4b8ff3;
        border-right: 2px solid #4b8ff3;

        &.first{
            border-radius: 15px 15px 0 0;
            border-top: 2px solid #4b8ff3;
        }

        &.last{
            border-radius: 0 0 15px 15px;
            border-bottom: 2px solid #4b8ff3;
        }
    }

    .canceled:before{
        position: absolute;
        content: "";
        width:70%;
        height: 100%;
        top: 0;
        left: 15%;
        background-image: url(lesson-canceled.svg);
    }

    ul{
        margin: 0px auto 30px auto;
        text-align: center;

        li{
            display: inline-block;
            padding: 5px 10px;
            margin: 0 5px;

            &.current{
                color: #68aeff;
                border: none;
                font-weight: bold;
            /*    color: #555;*/
            /*    padding: 5px 15px;*/
            /*    border: 1px solid #4b8ff3;*/
            /*    border-radius: 100px;*/
            }
        }

        a{
            color: #3f9cea;
            border-bottom: 1px dashed #ccc;
            display: inline-block;
            padding: 0px;
        }
    }

    thead.fix{
        position: fixed;
        top: 42px;
        background-color: rgba(255, 255, 255, 0.96);
        z-index: 50;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
        border-radius: 0 0 20px 20px;

        .current{
            border: none;
            border-radius: 0px;
            color: #3f9cea;
            width: 155px;
        }

        th{
            height: auto;

            :not(.group){
                min-width: 150px;
            /*    width: 15%;*/
                width: 150px;
                padding: 8px 10px 8px;
            }

            &.group{
                width: 63px;
            }

            .day{
                margin: 0;
                line-height: 0;
            }

            .date{
                margin: 15px 0;
                line-height: 0;
            }
        }
    }

    tbody.fix:before{
        content: "";    
        display: block;
        margin-top: 90px;
    }
}

@media screen and (max-device-width: 400px){
    .schedule{
        thead.fix{
            display: none;
        }
    }
}
