.timeline {
  .timeline-record {
    .user{
      margin-top: 4px;

      span{
        vertical-align: top;
        line-height: 40px;
      }

      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
    }

    .date{
      margin: 5px 0 0;
      color: #999;
      font-size: 0.75em;
    }

    .body{
      padding: 20px 20px 50px;
//      padding: 12px 0 0;
//      h2{
//
//      }

      a{
        border-bottom: none;
      }

      img {
        width: 100%;
        max-width: 500px;
        box-sizing: border-box;
        border-radius: 5px;
        border: 8px solid white;
        box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.35);
      }
    }
  }
}