.article {
    hyphens: auto;
}

.article h1 {
    margin-bottom: var(--size-s);
}

.article ul {
    margin-left: var(--half-margin);
    margin-bottom: var(--single-margin);

    list-style: disc;
}

.article ol {
    margin-left: var(--half-margin);
    margin-bottom: var(--single-margin);
}

.article li {
    margin-bottom: var(--half-margin);
}

.article p {
    margin-bottom: var(--size-m);
    line-height: var(--article-line-height);
}

.article p:last-child {
    margin-bottom: 0;
}

.article blockquote {
    padding: var(--size-m);
    font-size: var(--font-size-accent);
}

.article cite {
    display: block;
    font-size: var(--font-size-default);
    text-align: right;

    margin-top: var(--size-m);
}

.article hr {
    margin-bottom: var(--double-margin);
    border: none;
    height: 1px;
    background: var(--dark-color);
}

@media (max-width: var(--mobile-width)) {
    .article {
        --text-margin: 0;
    }

    .article img {
        max-height: 20em;
    }

    .article ul {
        margin-left: var(--single-margin);
    }

    .article ol {
        margin-left: var(--single-margin);
    }
}
