@import "variables";

.body-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: white;

  font-family: $text-font;
  font-size: $default-font-size;
}

.body-wrapper__content {
  flex: 1;
}

@media (max-width: $mobile-width) {
  .body-wrapper__content {
    margin: $menu-thickness auto 0;
  }
}
