@import "variables";

.content {
  margin: 0 auto;

  &.content_full{
    width: $content-full;
  }

  &.content_wide{
    width: $content-wide;
  }

  &.content_semi-wide{
    width: $content-semi-wide;
  }

  &.content_thin{
    width: $content-thin;
  }

  &.content--padding-top--double{
    padding-top: $double-margin;
  }
}

@media (max-width: $mobile-width) {
  $content-mobile: 95%;

  .content {
    &.content_full{
      width: $content-mobile;
    }

    &.content_wide{
      width: $content-mobile;
    }

    &.content_semi-wide{
      width: $content-mobile;
    }

    &.content_thin{
      width: $content-mobile;
    }
  }
}
