.error-404{
  margin: 1em 0;

  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1{
    font-size: 16pt;
    font-weight: normal;
  }

  img{
    margin: 20px;
    width: 40%;
    max-width: 400px;
  }
}