footer {
  padding: 0 var(--half-margin) var(--half-margin);
  position: relative;

  .footer-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: var(--double-margin) var(--single-margin) 0;
    margin-bottom: var(--double-margin);
  }

  .contacts {
    margin: var(--double-margin) 0 var(--half-margin);

    & > div {
      padding: 0 var(--single-margin);
    }

    p {
      margin: var(--half-margin) var(--single-margin);
    }
  }

  .copyright {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;

    span {
      padding: 1.5em 1em 0.25em;
      box-sizing: padding-box;
    }
  }

  &.footer--centered {
    .copyright {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      justify-content: center;
    }
  }
}