@import "variables";

$uri: '/graphics/rawline.png';

footer {
  //width: 100%;
  color: $light-color;
  padding: 0 $half-margin $half-margin;
  position: relative;
  background-color: $darker-color;

  &:before {
    $s: 3px;

    content: '';
    position: absolute;
    top: -$s;
    left: 0;
    width: 100%;
    height: $s;
    z-index: 100;
    background-image: url($uri);
  }

  .footer-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: $double-margin $single-margin 0;
    margin-bottom: $double-margin;
  }

  .contacts {
    & > div {
      padding: 0 1em;
    }

    p {
      margin: 0.5em 1em;
    }
  }

  .copyright {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;

    span {
      padding: 1.5em 1em 0.25em;
      box-sizing: padding-box;
    }
  }
}