@import "variables";

footer {
  padding: 0 $half-margin $half-margin;
  position: relative;

  .footer-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: $double-margin $single-margin 0;
    margin-bottom: $double-margin;
  }

  .contacts {
    margin: $double-margin 0 $half-margin;

    & > div {
      padding: 0 $single-margin;
    }

    p {
      margin: $half-margin $single-margin;
    }
  }

  .copyright {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;

    span {
      padding: 1.5em 1em 0.25em;
      box-sizing: padding-box;
    }
  }

  &.footer--centered {
    .copyright {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      justify-content: center;
    }
  }
}