@import "variables";

.album-collection{

}

.album-collection__body{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;

  margin-bottom: $double-margin;
}

.album-collection__title{

}
