@import "variables";

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  min-width: 320px;
}

h2{
  text-align: center;
  margin-bottom: $single-margin;
}

h3{
  margin-bottom:  $single-margin / 2;
}
