* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  min-width: 320px;

  color: var(--text-color);
}

h1 {
  text-align: center;
  font-size: var(--font-size-h1);

  hyphens: none;
}

h2{
  margin: var(--single-margin) 0;
  font-size: var(--font-size-h2);

  hyphens: none;
}

h3{
  margin: var(--single-margin) 0;

  font-size: var(--font-size-h3);

  hyphens: none;
}

.actor {
  border-bottom: 1px dashed black;

  &:hover {
    border-bottom: 2px solid black;
  }
}