.page {
  width: 100%;

  &.ng-leave {}
  &.ng-enter {}
}

.page-schedule {
  &.ng-leave {
    transform-origin: 0% 0%;
    animation: rotateFall 0.3s both ease-in;
  }

  &.ng-enter {
    animation: scaleUp 0.3s both ease-in;
  }
}

.page-collective {
  &.ng-leave {
    animation: slideOutLeft 0.3s both ease-in;
  }

  &.ng-enter {
    animation: slideInRight 0.3s both ease-in;
  }
}

.page-documents {
  &.ng-leave {
    transform-origin: 50% 50%;
    animation: rotateOutNewspaper .3s both ease-in;
  }

  &.ng-enter {
    animation: scaleUp 0.3s both ease-in
  }
}