//SIZE
$mobile-width: 31.25em;
$desktop-width: 59.99999em;

$content-wide: 80%;
$content-semi-wide: 70%;
$content-thin: 60%;

//MARGINS
$small-margin: .2em;
$half-margin: .5em;
$single-margin: 1.0em;
$double-margin: 3.0em;

//COLOR
$dark-color: hsl(0, 0%, 20%);
$darker-color: hsl(0, 0%, 10%);
$light-color: hsl(0, 0%, 80%);
$lighter-color: hsl(0, 0%, 100%);

$blue-color: rgb(63, 156, 234);
$green-color: rgb(92, 190, 64);
$yellow-color: rgb(255, 238, 0);
$pink-color: rgb(246, 85, 160);
$red-color: rgb(246, 27, 20);

$link-color: $blue-color;
$inactive-link-color: $light-color;

$schedule-row-color: hsl(210, 55%, 90%);

//SHADOW
$white-shadow: 0 .1em 0.3em rgba(0, 0, 0, 0.2);

//FONTS
$title-font: "PT Sans", Arial, sans-serif;
$text-font: "PT Sans", Arial, sans-serif;

$normal-font-size: 1em;
$bigger-font-size: 1.5em;
$smaller-font-size: .8em;

//MENU
$menu-thickness: 2.5em;
$menu-colored-mark-thickness: 4px;
$menu-inactive-item-color: hsl(0, 0%, 40%);