.pagination {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--size-s);

    margin: var(--size-l) 0;
    list-style: none;
    padding: 0;
}

.item {
    display: inline-flex;
    align-items: center;
    padding: var(--size-xs) var(--size-s);
    border-radius: var(--size-s);
    color: var(--color-text);
}

.item:hover {
    background-color: var(--color-back);
}

.disabled {
    color: var(--color-text-second);
    pointer-events: none;
}

.current {
    color: var(--color-text);
    font-weight: 600;
    background-color: var(--color-back);
}

.ellipsis {
    color: var(--color-text-second);
}
