//- //Yandex.Metrika informer 
//- a(href='http://metrika.yandex.ru/stat/?id=24027460&from=informer', target='_blank', rel='nofollow')
//-   img(src='//bs.yandex.ru/informer/24027460/3_1_FFFFFFFF_EFEFEFFF_0_pageviews', style='width: 88px; height: 31px; border: 0;', alt='Яндекс.Метрика', title='Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)', onclick='try{Ya.Metrika.informer({i:this,id:24027460,lang:\'ru\'});return false}catch(e){}')
//- //Yandex.Metrika informer

// Yandex.Metrika counter 

script
    include yandex.metrika.js
noscript
  div
    img(src='//mc.yandex.ru/watch/24027460', style='position: absolute; left: -9999px;', alt='')
// Yandex.Metrika counter 