<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <meta name="fragment" content="!">

    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/s/animate.min.css">
    <link rel="stylesheet" href="/fonts/stylesheet.css">

    <meta name="google-site-verification" content="8BxOTw-Q02DS2KAdcGcnIMwiPZ58DVB18XpOfRibCcg">

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-route/angular-route.min.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.min.js"></script>

    <link rel="stylesheet" href="/bower_components/fotorama/fotorama.css">
    <script src="/bower_components/fotorama/fotorama.js"></script>

    <script src="data.js"></script>
    <script src="/app.js"></script>
</head>
<body ng-app="hudozhka">
<div class="menu" ng-controller="MenuController">
    <ul>
        <li ng-repeat="item in menu" class="{{item.color}}" ng-class="{selected:isCurrent(item)}">
            <span ng-hide="isValid(item)">{{item.text}}</span>
            <a href="{{item.url}}" ng-show="isValid(item)">{{item.text}}</a>
        </li>
        <a href="{{vkgroup}}" class="vk"><img src="/graphics/icon.vk.png"></a>
    </ul>
</div>

<div class="page {{pageClass}}" ng-view></div>

<footer>
    <div class="info-block">
        <div>
            <h4>Ссылки на образовательные сайты</h4>
            <ul>
                <li><a href="http://минобрнауки.рф">минобрнауки.рф</a> — Министерство образования и науки Российской Федерации</li>
                <li><a href="http://edu.ru">edu.ru</a> — Федеральный сайт «Российское образование»</li>
                <li><a href="http://window.edu.ru">window.edu.ru</a> — Единое окно доступа к образовательным ресурсам</li>
                <li><a href="http://school-collection.edu.ru">school-collection.edu.ru</a> — Единая коллекция цифровых образовательных ресурсов</li>
                <li><a href="http://fcior.edu.ru">fcior.edu.ru</a> — Федеральный центр информационных образовательных ресурсов</li>
            </ul>
            <ul>
                <li><a href="http://dkhshmga.ru">dkhshmga.ru</a> — Художественная школа Мги</li>
                <li><a href="http://kirovskdmh.ucoz.ru">kirovskdmh.ucoz.ru</a> — Музыкальная школа Кировска</li>
            </ul>
        </div>

        <div>
            <h4>Документы</h4>
            <ul>
                <li><a target="_blank" href="/document/edu-license">Лицензия на осуществление образовательной деятельности</a></li>
                <li><a target="_blank" href="/document/gov-certificate">Свидетельство о государственной регистрации права</a></li>
                <li><a target="_blank" href="/document/EGRYL1">Свидетельство о внесении в «ЕГРЮЛ»</a></li>
                <li><a target="_blank" href="/document/VAT">ИНН</a></li>
                <li><a target="_blank" href="/document/statue-2013">Устав школы</a></li>
            </ul>
        </div>
    </div>

    <div class="info-block">
        <p>Художественная школа Шлиссельбурга, 2014 год</p>
    </div>
</footer>

<!-- Yandex.Metrika counter -->
<script>(function (d, w, c) {
    (w[c] = w[c] || []).push(function () {
        try {
            w.yaCounter24027460 = new Ya.Metrika({
                id: 24027460,
                webvisor: true,
                clickmap: true,
                trackLinks: true,
                accurateTrackBounce: true
            });
        } catch (e) {
        }
    });
    var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () {
        n.parentNode.insertBefore(s, n);
    };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";
    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else {
        f();
    }
})(document, window, "yandex_metrika_callbacks");</script>
<noscript>
    <div><img src="//mc.yandex.ru/watch/24027460" style="position: absolute; left: -9999px;" alt=""></div>
</noscript>
<!-- Yandex.Metrika counter -->
</body>
</html>