<!DOCTYPE html>
<html ng-app="hudozhka">
<head>
    <meta name="fragment" content="!">
    <meta name="google-site-verification" content="8BxOTw-Q02DS2KAdcGcnIMwiPZ58DVB18XpOfRibCcg">
    <meta name="viewport" content="width=device-width, maximum-scale=1.0" />

    <base href="/">
    <title ng-bind="title">ДШХ Шлиссельбурга</title>

    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/animate.min.css">
    <link rel="stylesheet" href="/fonts/stylesheet.css">

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-route/angular-route.min.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="/bower_components/angulartics/dist/angulartics.min.js"></script>
    <script src="/bower_components/angulartics/dist/angulartics-ga.min.js"></script>
    <script src="/bower_components/spin.js/spin.js"></script>
    <script src="/bower_components/angular-spinner/angular-spinner.min.js"></script>
    <script src="/bower_components/socket.io-client/socket.io.js"></script>

    <link rel="stylesheet" href="/bower_components/fotorama/fotorama.css">
    <script src="/bower_components/fotorama/fotorama.js"></script>

    <script src="/data.js"></script>
    <script src="/app.js"></script>

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-60209057-1', 'auto');
        //        ga('send', 'pageview');
    </script>
</head>
<body>
<div class="wrapper">
    <header>
        <nav role="navigation" ng-controller="MenuController">
            <ul>
                <li ng-repeat="item in menu.items" class="{{item.color}}" ng-class="{selected: isActive(item)}">
                    <span ng-hide="isValid(item)">{{item.text}}</span>
                    <a href="{{item.url}}" ng-show="isValid(item)">{{item.text}}</a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="content">
        <div class="page {{pageClass}}" ng-view autoscroll="true"></div>
    </div>

    <footer>
        <div class="info-block">
            <div>
                <h4>Документы</h4>
                <ul>
                    <li><a target="_blank" href="/document/edu-license">Лицензия на осуществление образовательной деятельности</a></li>
                    <li><a target="_blank" href="/document/gov-certificate">Свидетельство о государственной регистрации права</a></li>
                    <li><a target="_blank" href="/document/EGRYL1">Свидетельство о внесении в «ЕГРЮЛ»</a></li>
                    <li><a target="_blank" href="/document/VAT">ИНН</a></li>
                    <li><a target="_blank" href="/document/statue-2013">Устав школы</a></li>
                </ul>
            </div>
            <div>
                <h4>Ссылки на образовательные сайты</h4>
                <ul>
                    <li><a href="http://минобрнауки.рф">минобрнауки.рф</a> — Министерство образования и науки Российской Федерации</li>
                    <li><a href="http://edu.ru">edu.ru</a> — Федеральный сайт «Российское образование»</li>
                    <li><a href="http://window.edu.ru">window.edu.ru</a> — Единое окно доступа к образовательным ресурсам</li>
                    <li><a href="http://school-collection.edu.ru">school-collection.edu.ru</a> — Единая коллекция цифровых образовательных ресурсов</li>
                    <li><a href="http://fcior.edu.ru">fcior.edu.ru</a> — Федеральный центр информационных образовательных ресурсов</li>
                </ul>
                <ul>
                    <li><a href="http://dkhshmga.ru">dkhshmga.ru</a> — Художественная школа Мги</li>
                    <li><a href="http://kirovskdmh.ucoz.ru">kirovskdmh.ucoz.ru</a> — Музыкальная школа Кировска</li>
                </ul>
            </div>
        </div>

        <div class="contacts" ng-controller="ContactsController">
            <div>
                <h4>Контактная информация</h4>
                <p>Адрес: {{address}}</p>
                <p>Телефон: {{telephone}}</p>
                <p>Почта: <a href="mailto:{{email}}">{{email}}</a></p>
            </div>
        </div>

        <div class="copyright" ng-controller="CopyrightController">
            <span>©&nbsp;2014...{{now}} Художественная&nbsp;школа&nbsp;Шлиссельбурга</span>
            <span ng-show="developer">Разработка и поддержка сайта — <a href="http://tmshv.ru?utm_source=artshburg&utm_medium=developer&utm_campaign=tmshv_ru">www.tmshv.ru</a></span>
        </div>
    </footer>
</div>
</body>
</html>
