.breadcrumbs {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;

    position: relative;
    right: var(--size-s);
}

.breadcrumbs li {
    margin-bottom: var(--size-xs);
}
