:root {
    --white-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.2);

    /* FONTS */
    --title-font: Shadow, Georgia, serif;
    --text-font: 'PT Sans', Helvetica, sans-serif;

    --smaller-font-size: 0.9rem;
    --normal-font-size: 1rem;
    --bigger-font-size: 1.2rem;
    --big-font-size: 1.5rem;
    --biggest-font-size: 2.25rem;

    /* MENU */
    --menu-thickness: 2.5em;
    --menu-colored-mark-thickness: 4px;
    --menu-inactive-item-color: hsl(0, 0%, 50%);

    /* SIZE */
    --mobile-width: 31.25em;
    --desktop-width: 59.99999em;

    --tablet-min-width: 31.25em;
    --tablet-max-width: 64em;

    /* CONTENT */
    --content-full: 100%;
    --content-wide: 90%;
    --content-semi-wide: 70%;
    --content-thin: 60%;
    --content-width: var(--content-full);

    --embed-video-ratio: 56.25%;

    /* FONTS */
    --font-size-default: 14pt;
    --font-size-second: 12pt;

    --font-size-h1: 5rem;
    --font-size-h2: 2.5rem;
    --font-size-h3: 1.5rem;

    /* COLOR */
    --dark-color: hsl(0, 0%, 20%);
    --darker-color: hsl(0, 0%, 10%);
    --light-color: hsl(0, 0%, 80%);
    --lighter-color: hsl(0, 0%, 100%);
    --link-color: hsl(0, 0%, 80%);

    --blue-color: rgb(63, 156, 234);
    --orange-color: rgb(240, 160, 65);
    --green-color: rgb(92, 190, 64);
    --yellow-color: rgb(255, 238, 0);
    --pink-color: rgb(246, 85, 160);
    --magenta-color: rgb(214, 39, 246);
    --red-color: rgb(246, 27, 20);
    --gray-color: rgb(153, 154, 160);
    --color-shadow: rgba(27, 51, 88, 0.15);

    --inactive-link-color: var(--light-color);

    --schedule-row-color: hsl(210, 55%, 90%);

    /* TEXT COLOR */
    --color-text: #303030;
    --color-text-second: #9090a0;
    --color-text-opposite: var(--light-color);

    --color-back-main: white;
    --color-back-opposite: var(--darker-color);

    /* SIZE */
    --size-sx: 0.2em;
    --size-s: 0.5em;
    --size-m: 1em;
    --size-l: 2em;
    --size-xl: 3em;

    /* EFFECTS */
    --radius: 15px;
    --shadow: 0 0 8px var(--color-shadow);
    --shadow-active: 0 4px 16px var(--color-shadow);

    /* MARGINS */
    --small-margin: 0.2em;
    --half-margin: 0.5em;
    --single-margin: 1em;
    --double-margin: 2em;
    --post-margin: 5em;

    /* OTHER */
    --block-border-radius: 3px;

    /* KAZIMIR */
    --kazimir-caption-margin: 0px;
    --kazimir-radius: 5px;
    --kazimir-image-increase: 50px;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    min-width: 320px;

    color: var(--color-text);
}

footer {
    padding: var(--single-margin);
    color: var(--color-text-opposite);
    background-color: var(--color-back-opposite);
    font-size: var(--smaller-font-size);
}

h1 {
    text-align: center;
    font-size: var(--font-size-h1);

    hyphens: none;
}

h2 {
    margin: var(--single-margin) 0;
    font-size: var(--font-size-h2);

    hyphens: none;
}

h3 {
    margin: var(--single-margin) 0;

    font-size: var(--font-size-h3);

    hyphens: none;
}

h1,
h2 {
    font-family: var(--title-font);
}

a {
    color: var(--dark-color);

    text-decoration: none;
    border-bottom: 1px solid var(--link-color);
}

a:hover {
    border-bottom: 2px solid var(--dark-color);
}

a:active {
    border-width: 2px;
}

/* a:visited {
    color: #a4059c;
} */

a.invisible {
    border-bottom: none;
}

.opposite a {
    color: var(--color-text-opposite);
}

.opposite a:hover {
    border-bottom-color: var(--color-text-opposite);
}

.actor {
    border-bottom: 1px dashed black;
}

.actor:hover {
    border-bottom: 2px solid black;
}

@media (max-width: 31.25em) {
    :root {
        --smaller-font-size: 0.9rem;
        --normal-font-size: 1rem;
        --bigger-font-size: 1.1rem;
        --big-font-size: 1.3rem;
        --biggest-font-size: 2rem;

        --font-size-h1: 1.5rem;
        --font-size-h2: 1.5rem;
        --font-size-h3: 1.25rem;

        --content-thin: 90%;
        --content-wide: 90%;
    }
}
