.box {
    display: flex;
    align-items: baseline;

    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
}

.box.align {
    align-items: center;
}

.box.wrap {
    flex-wrap: wrap;
}

.box.center {
    align-items: center;
    justify-content: center;
}

.box.vertical {
    flex-direction: column;
}
