/* ELEMENTS */

.tags {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */

    list-style: none;
}

/* LAYOUT */

.vertical {
    flex-direction: column;
}

/* ITEM */

.tags li {
    margin-right: var(--size-s);
    margin-bottom: var(--size-s);
}

.tags li:last-child {
    margin-right: 0;
}

.tags.vertical li {
    margin-bottom: var(--size-s);
}

.tags.vertical li:last-child {
    margin-bottom: 0;
}
