@import "variables";

.hudozka-title {
  padding: $double-margin 0;

  text-align: center;

  p {
    color: $dark-color;
    margin-bottom: $single-margin;
    font-size: $normal-font-size;
  }

  h1 {
    margin-top: $single-margin;
    font-size: $biggest-font-size;
  }
}

@media (max-width: $mobile-width) {
  .hudozka-title {
    h1 {
      font-size: $big-font-size;
    }
  }
}
