.main-picture{
    width: 100%;
    position: fixed;
    margin: 0;
    left: 0;
    z-index: -999;
}

ul{
    display: block;   
}

.team-list{
    list-style:none; 
    background-color: white;
    width:100%;
    min-height: 100px;
    padding-top: 100px;
    margin-top: 63%;
}

.team-member{
    margin: 0 auto 50px auto;
    width: 70%;

    img{
        width: 40%;
        max-width: 600px;
        min-width: 200px;
        display: inline-block;
    }

    .info{
        display: inline-block;
        float: right;
        width: 55%;
        line-height: 2em;

        h3{
            font-weight: 100;

            span{
                font-weight: 600;   
            }
        }
    }
}